@import "tailwindcss";

@theme {
  --color-grey-950: #111517;
  --color-grey-400: #808080;
  --color-grey-350: #979797;
  --color-grey-300: #B2B2B2;
  --color-grey-250: #C4C4C4;
  --color-grey-50: #FCFCFC;

  --color-blue-950: #202C36;
  --color-blue-900: #2B3844;

  --font-nunito: "Nunito Sans", sans-serif;
  --text-base: 14px;
  --leading-base: 145%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Nunito Sans", sans-serif;
}